<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>
  <p>
  Splurty was build by Kyle Duca.
  </p>

  <p>
Kyle Duca is an aspiring software developer and student at The Firehouse Project, born Brooklyn, New York and currently residing in Arlington, Virginia. Holds a Bachelors of Arts for Digital Arts from Bridgewater College.

  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kyle Duca</h2>

      <br />
      <p>
I want to have a meaningful impact in the world, seeing that most of the world has become computerized, I figured it's time for me to do the same. I'm looking forward to changing careers and moving on to bigger and better things. 
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>